@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
    background-color: #eeeeee;
    margin: 0;
  }

  body {
    margin: 0;
    font-family: "K2D", sans-serif;
  }

  @import url("https://fonts.cdnfonts.com/css/k2d");

  /*HEADER*/
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6db784;
    margin: 0;
    padding: 0;
    font-size: 6px;
    width: 100%;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    font-size: 20px;
    text-align: center;
    align-items: center;
  }

  button {
    cursor: pointer;
    border: none;
  }

  #navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #navigation h2 {
    padding: 0;
    background: none;
    font-weight: bolder;
    margin: 20px;
    color: black;
    font-size: 12px;
  }

  #navigation h2:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  /*First Page Container*/
  .container {
    background-image: url("./wireframe/libraryjapan.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .transbox {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(236, 236, 236, 0.4) 10%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  .transbox h2 {
    align-items: center;
    text-align: center;
    margin-top: 250px;
    color: white;
    font-size: 45px;
    margin-right: 150px;
    margin-bottom: 0;
  }

  .transbox .Rooms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 190px;
    margin-top: 20px;
    gap: 25px;
    font-size: 45px;
    font-weight: bolder;
    color: white;
  }

  .transbox img {
    width: 45px;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .locations h3,
  .Services h3 {
    text-align: center;
    background-color: #ffffff;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ChoaChuKang,
  .Bedok {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Clementi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rentroom,
  .satisfyingservices,
  .choosebook {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .textarea {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-justify: distribute;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  /* Page 2 */

  /* Title */

  #month-year {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  #month-year button {
    font-size: 25px;
  }

  #findbookroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  h4 {
    display: block;
    text-align: center;
  }

  #SearchDates {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
  }

  #Calendar {
    font-size: 11px;
    border: 1px solid #ffffff;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    width: 400px;
  }

  #Calendar th,
  #Calendar td {
    width: 20px;
    height: 40px;
  }

  #Calendar td:hover {
    cursor: pointer;
    background-color: #ffffff;
  }

  #CalendarInput {
    display: flex;
    flex-direction: row;
  }

  #InsertInfo {
    display: block;
    border: 1px solid #ffffff;
    width: 300px;
    height: 200px;
    text-align: center;
  }

  .BookRoom h3 {
    margin: 20px;
    margin-top: 40px;
  }

  .BookRoom h4 {
    font-size: 12px;
  }

  .BookRoom .steps {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
  }

  /* Steps */
  .BookRoom .Search::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
    content: "1";
    color: white;
    text-align: center;
    font-size: 12px;
  }

  .BookRoom .Book::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
    content: "2";
    color: white;
    text-align: center;
    font-size: 12px;
  }

  .BookRoom .Payment::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
    content: "3";
    color: white;
    text-align: center;
    font-size: 12px;
  }

  #Rooms {
    display: flex;
    justify-content: space-between;
  }

  .Roomone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
  }

  .Adults,
  .Children {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .input {
    display: flex;
    flex-direction: c;
    width: 50px;
    gap: 5px;
    align-items: center;
  }

  .input button {
    border-radius: 50%;
    background-color: #ffffff;
  }

  #AddRoom {
    border: none;
    border-radius: 10%;
    background-color: #ffffff;
  }

  #checkavailability {
    background-color: #ffffff;
    color: black;
  }

  /* page3 */

  /* Filters */
  #SearchInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }

  #Filter {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #GuestInput {
    display: flex;
    flex-direction: column;
  }

  #Filter span {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding-right: 40px;
    height: 40px;
  }

  #Filter span:last-child {
    padding-right: 50px;
  }

  /* List of Rooms */

  #ChooseARoom {
    background-color: #6db784;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .Roomslist {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #Room1,
  #Room2,
  #Room3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Roomslist .Description {
    border: 2px solid gray;
    width: 395px;
    border-top: none;
    border-radius: 0px 0px 15px 15px;
  }

  .Roomslist .Description name {
    font-size: 18px;
    font-weight: bolder;
  }

  .Roomslist .Description span {
    display: block;
    margin-top: 5px;
  }

  .Roomslist img {
    width: 400px;
    height: 300px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 20px;
  }

  .Roomslist .Description .Price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .Roomslist .Description .Price a {
    border: 10px solid #6db784;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    background-color: #6db784;
    font-size: 20px;
    text-align: center;
  }
}

/*


-------------------------------------------------------------


Desktop view



-------------------------------------------------------------





*/

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
    background-color: #eeeeee;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "K2D", sans-serif;
  }

  @import url("https://fonts.cdnfonts.com/css/k2d");

  /*HEADER*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6db784;
    margin: 0;
    padding: 0;
    font-size: 6px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    font-size: 20px;
    padding-left: 40px;
    text-align: center;
    align-items: center;
  }

  button {
    cursor: pointer;
    border: none;
  }

  #navigation h2 {
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    font-weight: bolder;
    margin: 20px;
    color: black;
    font-size: 16px;
  }

  #navigation h2:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  /*NAVIGATION*/
  #navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
    background-color: #6db784;
  }

  /*First Page Container*/
  .container {
    background-image: url("./wireframe/libraryjapan.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .transbox {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(236, 236, 236, 0.4) 10%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  .transbox h2 {
    align-items: center;
    text-align: center;
    margin-top: 250px;
    color: white;
    font-size: 45px;
    margin-right: 150px;
    margin-bottom: 0;
  }

  .transbox .Rooms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 230px;
    margin-top: 20px;
    gap: 25px;
    font-size: 45px;
    font-weight: bolder;
    color: white;
  }

  .transbox img {
    width: 65px;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .locations h3,
  .Services h3 {
    text-align: center;
    background-color: #ffffff;
  }

  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .ChoaChuKang,
  .Bedok {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
  }

  .Clementi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rentroom,
  .satisfyingservices {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
  }

  .choosebook {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
  }

  .textarea {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  /* Page 2 */

  /* Title */

  /*
  #month-year {
    display: flex;
    flex-direction: row;
    gap: 180px;
  }

  #month-year button {
    font-size: 20px;
    background: none;
  }

  #findbookroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  h4 {
    display: block;
    text-align: center;
  }

  #SearchDates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
  }

  #Calendar {
    font-size: 16px;
    border: 1px solid #ffffff;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    width: 800px;
  }

  #Calendar th,
  #Calendar td {
    width: 60px;
    height: 80px;
  }

  #Calendar td:hover {
    cursor: pointer;
    background-color: #ffffff;
  }

  #CalendarInput {
    display: flex;
    flex-direction: row;
  }
*/

  .container-page-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
  }

  .container-calendar {
    width: 100%;
    height: 100vh;
    background-color: #eeeeee;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calendar {
    width: 49rem;
    height: 50rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    margin-top: 100px;
  }

  .month {
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2;
    text-align: center;
    text-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  }

  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }

  .month h5 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }

  .month p {
    font-size: 1.6rem;
  }

  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .weekdays div {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44rem / 7);
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
  }

  .days div {
    font-size: 1.2rem;
    margin: 0.3rem;
    width: calc(37.5rem / 7);
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    border: 0.2rem solid transparent;
  }

  .days div:hover {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }

  .prev-date,
  .next-date {
    opacity: 0.5;
  }

  .prev,
  .next {
    background-color: #167e56;
    font-size: 40px;
  }

  #InsertInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: #167e56;
    width: 600px;
    height: 300px;
    text-align: center;
  }

  /*     Book Room     */

  .BookRoom h3 {
    margin: 20px;
    margin-top: 40px;
  }
  .BookRoom .steps {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
  }

  /* Steps */

  .BookRoom .Search::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
    content: "1";
    color: white;
    text-align: center;
    font-size: 16px;
  }

  .BookRoom .Book::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
    content: "2";
    color: white;
    text-align: center;
    font-size: 16px;
  }

  .BookRoom .Payment::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
    content: "3";
    color: white;
    text-align: center;
    font-size: 16px;
  }

  #Rooms {
    display: flex;
    justify-content: space-between;
  }

  .Roomone {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 100px;
  }

  .Adults,
  .Children {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
  }

  .input {
    display: flex;
    flex-direction: row;
    width: 50px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5px;
  }

  .input button {
    border-radius: 50%;
    background-color: #ffffff;
  }

  .input span {
    border: 0.5px solid black;
    border-radius: 10%;
    border-width: 3px;
    min-width: 50px;
  }

  .AddRoom {
    border: none;
    font-size: 1rem;
    width: 50%;
    background-color: #ffffff;
    margin-bottom: 20px;
  }

  #checkavailability {
    background-color: #ffffff;
    color: black;
  }

  /* page3 */

  /* Filters */
  #SearchInfo,
  #Filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }

  #GuestInput {
    display: flex;
    flex-direction: column;
  }

  #Filter span {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding-right: 40px;
  }

  #Filter span:last-child {
    padding-right: 50px;
    width: 120px;
  }

  /* List of Rooms */

  #ChooseARoom {
    background-color: #6db784;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .Roomslist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin: 50px;
  }

  #Room1,
  #Room2,
  #Room3 {
    display: flex;
    flex-direction: row;
  }

  .Roomslist img {
    border-radius: 15px 0px 0px 15px;
  }

  .Roomslist .Description {
    display: flex;
    flex-direction: column;
    border: 5px solid #ffffff;
    border-radius: 0px 25px 25px 0px;
    border-left: none;
    width: 650px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    font-size: 18px;
  }

  .Roomslist .Description name,
  .Roomslist .Description .Price strong {
    font-size: 26px;
    font-weight: bold;
  }

  .Roomslist .Description span {
    margin-top: 10px;
    gap: 0px;
  }

  .Roomslist .Description hr {
    width: 650px;
  }

  .Roomslist .Description .Price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 200px;
    padding-top: 20px;
    gap: 50px;
  }

  .Roomslist .Description .Price a {
    border: 10px solid #6db784;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    background-color: #6db784;
    font-size: 20px;
    text-align: center;
  }

  .Roomslist .Description .Price a:hover {
    border: 10px solid gray;
    background-color: gray;
  }

  /* 


  Page 4


  */

  #Payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #Guest-Payment {
    display: flex;
    flex-direction: column;
  }

  #GuestDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 750px;
    height: 500px;
    margin-left: 100px;
    padding-left: 50px;
    padding-top: 50px;
  }

  #GuestDetails name,
  #PaymentDetails name {
    font-size: 24px;
  }

  .formfield {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
  }

  #container2,
  #container3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
  }

  #container2 .column1,
  #container2 .column2,
  #container3 .column1,
  #container3 .column2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 20px;
  }

  #PaymentDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 750px;
    height: 300px;
    margin-left: 100px;
    margin-top: 100px;
    padding-left: 50px;
    padding-top: 50px;
  }

  #container3,
  #container4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
  }

  #container3 .column1,
  #container3 .column2,
  #container4 .column1,
  #container4 .column2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 20px;
  }

  #ChosenRoom1 {
    margin-right: 80px;
    width: 350px;
    height: 450px;
    border: 1px solid gray;
    border-top: none;
    border-radius: 15px 15px 0px 0px;
  }

  #ChosenRoom1 img {
    width: 350px;
    height: 300px;
    border-radius: 15px 15px 0px 0px;
  }

  #ChosenRoom1 .Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
  }

  #ChosenRoom1 .Description name {
    font-weight: bolder;
    font-size: 20px;
  }

  #ChosenRoom1 .Price {
    border-top: 1px solid gray;
    padding-top: 10px;
  }
}
