@import url("https://fonts.cdnfonts.com/css/k2d");

@media screen and (max-width: 48rem) {
  html {
    font-size: 1rem;
    background-color: #eeeeee;
    margin: 0;
  }

  body {
    margin: 0;
    font-family: "K2D", sans-serif;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6db784;
    margin: 0;
    padding: 0;
    font-size: 0.375rem;
    width: 100%;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    font-size: 1.25rem;
    text-align: center;
    align-items: center;
    padding-left: 0.75rem;
  }

  button {
    cursor: pointer;
    border: none;
  }

  #navigation {
    display: flex;
    flex-direction: row;
  }

  #navigation h2 {
    padding: 0;
    background: none;
    font-weight: bolder;
    margin: 1.25rem;
    color: black;
    font-size: 0.75rem;
    border: 1px solid black;
    padding: 5px;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
  }

  #navigation h2:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  .BookRoom h3 {
    margin: 1.25rem;
    margin-top: 2.5rem;
  }

  .BookRoom h4 {
    font-size: 0.75rem;
  }

  .BookRoom .steps {
    display: flex;
    flex-direction: row;
    margin: 1.25rem;
    gap: 1.25rem;
  }

  /* Steps */
  .BookRoom .Search::before {
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "1";
    color: white;
    text-align: center;
    font-size: 0.75rem;
  }

  .BookRoom .Book::before {
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "2";
    color: white;
    text-align: center;
    font-size: 0.75rem;
  }

  .BookRoom .Payment::before {
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "3";
    color: white;
    text-align: center;
    font-size: 0.75rem;
  }

  #Payment {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  #Guest-Payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #GuestDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 3.125rem;
  }

  #PaymentDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 6rem;
    padding-top: 3.125rem;
    padding-bottom: 2rem;
  }

  #GuestDetails span,
  #PaymentDetails span {
    font-size: 1.5rem;
  }

  .formfield {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    gap: 0.3125rem;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .formfield input {
    border: 0.125rem solid #f0f0f0;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    padding: 0.625rem;
    width: 60vw;
  }

  .formfield small {
    visibility: hidden;
  }

  .formfield.error input {
    border: 0.125rem solid red;
  }

  .formfield .error {
    border: 1px solid red;
  }

  .formfield.error small {
    visibility: visible;
    color: red;
  }

  .BookNow {
    padding: 0.5rem;
    background-color: #6db784;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #container1,
  #container2,
  #container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }

  .column1,
  .column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 1.25rem;
  }

  .submit {
    width: 80%;
    margin-left: 10%;
    margin-top: 1.25rem;
  }

  #ChosenRoom1 {
    margin: auto;
    width: 80%;
    height: 32.125%;
    border: 0.0625rem solid gray;
    border-top: none;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
  }

  #ChosenRoom1 img {
    width: 100%;
    height: 100%;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  }

  #ChosenRoom1 .Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.625rem;
  }

  #ChosenRoom1 .Description span:first-child {
    font-weight: bolder;
    font-size: 1.25rem;
  }

  #ChosenRoom1 .Price {
    border-top: 0.0625rem solid gray;
    padding-top: 0.625rem;
  }

  .Confirmation {
    border: none;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    padding-bottom: 10rem;
    width: 80%;
    height: 30rem;
  }

  .Confirmation-header {
    padding-bottom: 5%;
  }

  .Confirmation span {
    font-size: 2rem;
    font-weight: 500;
  }

  .Confirmation::backdrop {
    background-color: gray;
    opacity: 0.5;
  }

  .Confirmation-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .Confirmation-body .Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-bottom: 1px solid gray;
    gap: 0.4rem;
  }

  .Confirmation-body .Info span {
    font-size: 1rem;
  }

  .Confirmation .Confirm {
    background-color: #6db784;
    margin-top: 5%;
    margin-left: 2.5%;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    width: 8rem;
    height: 2rem;
  }

  .footer {
    background: #fbfbfd;
  }
  .footer_top {
    padding: 1rem 0rem 2rem;
    position: relative;
    overflow-x: hidden;
  }
  .footer_bottom {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #7f88a6;
    padding: 1.6875rem 0rem;
  }

  .footer_area {
    background: #fbfbfd;
  }

  .footer_top .f_subscribe_two .btn_get {
    border-width: 0.0625rem;
    margin-top: 1.25rem;
  }

  .btn:hover,
  .btn:focus,
  button:hover,
  button:focus {
    text-decoration: none;
    outline: none;
  }

  .footer_top .f_social_icon a {
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.6875rem;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  .f_social_icon a {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    font-size: 0.875rem;
    line-height: 2.8125rem;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-right: 2%;
  }

  .subscribe-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
    width: 8rem;
    height: 1.5rem;
  }

  .subscribe-btn:hover {
    background: #263b5e;
    color: #fff;
  }

  .footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
  }
  .footer_top .f_social_icon a + a {
    margin-left: 4px;
  }

  .footer_top .footer_bg {
    position: block;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png")
      no-repeat scroll center 0;
    width: 100%;
    height: 266px;
  }

  .footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif")
      no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
  }

  .footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif")
      no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
  }

  @-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  .footer_container {
    padding-left: 5%;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 1rem;
    background-color: #eeeeee;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "K2D", sans-serif;
  }

  /*HEADER*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6db784;
    margin: 0;
    padding: 0;
    font-size: 0.375rem;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    font-size: 1.25rem;
    padding-left: 2.5rem;
    text-align: center;
    align-items: center;
  }

  button {
    cursor: pointer;
    border: none;
  }

  #navigation h2 {
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    font-weight: bolder;
    margin: 1.25rem;
    color: black;
    font-size: 1rem;
  }

  #navigation h2:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  #navigation h2:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  /*NAVIGATION*/
  #navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 2.5rem;
    background-color: #6db784;
  }

  .BookRoom h3 {
    margin: 1.25rem;
    margin-top: 2.5rem;
  }
  .BookRoom .steps {
    display: flex;
    flex-direction: row;
    margin: 1.25rem;
    gap: 1.25rem;
  }

  /* Steps */

  .BookRoom .Search::before {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "1";
    color: white;
    text-align: center;
    font-size: 1rem;
  }

  .BookRoom .Book::before {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "2";
    color: white;
    text-align: center;
    font-size: 1rem;
  }

  .BookRoom .Payment::before {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "3";
    color: white;
    text-align: center;
    font-size: 1rem;
  }

  #Payment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5rem;
  }

  #Guest-Payment {
    display: flex;
    flex-direction: column;
  }

  #GuestDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    background-color: white;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    width: 46.875vw;
    height: 31.25rem;
    margin-left: 10%;
    padding-right: 2rem;
    padding-top: 2rem;
  }

  #GuestDetails span,
  #PaymentDetails span {
    font-size: 1.5rem;
    padding-left: 5rem;
  }

  #GuestDetails p,
  #PaymentDetails p,
  .checkbox {
    padding-left: 11%;
  }

  .formfield {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    margin-bottom: 1rem;
  }

  .formfield input {
    border: 0.125rem solid #f0f0f0;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    padding: 0.625rem;
    width: 16vw;
  }

  .formfield small {
    visibility: hidden;
  }

  .formfield.error input {
    border: 0.125rem solid red;
  }

  .formfield .error {
    border: 1px solid red;
  }

  .formfield.error small {
    visibility: visible;
    color: red;
  }

  #container1,
  #container2,
  #container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    padding-left: 2%;
  }

  .column1,
  .column2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 1.25rem;
  }

  #PaymentDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    width: 46.875vw;
    height: 16.25rem;
    margin-left: 10%;
    margin-top: 2.5rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }

  .BookNow {
    width: 16rem;
    height: 2rem;
    margin-left: 10%;
    margin-top: 1.25rem;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    background-color: #6db784;
  }

  #ChosenRoom1 {
    margin-left: 5rem;
    margin-right: 5%;
    width: 21.875rem;
    height: 32.125%;
    border: 0.0625rem solid gray;
    border-top: none;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  }

  #ChosenRoom1 img {
    max-width: 34.375vw;
    max-height: 21.875vw;
    width: 100%;
    height: 100%;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  }

  #ChosenRoom1 .Description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 0.625rem;
  }

  #ChosenRoom1 .Description span:first-child {
    font-weight: bolder;
    font-size: 1.25rem;
  }

  #ChosenRoom1 .Price {
    border-top: 0.0625rem solid gray;
    padding-top: 0.625rem;
  }

  .Confirmation {
    border: none;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    padding-bottom: 10rem;
    width: 25rem;
    height: 30rem;
  }

  .Confirmation-header {
    padding-bottom: 5%;
  }

  .Confirmation span {
    font-size: 2rem;
    font-weight: 500;
  }

  .Confirmation::backdrop {
    background-color: gray;
    opacity: 0.5;
  }

  .Confirmation-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .Confirmation-body .Info {
    display: flex;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-bottom: 1px solid gray;
  }

  .Confirmation-body .Info span {
    font-size: 1rem;
  }

  .Confirmation .Confirm {
    background-color: #6db784;
    margin-top: 5%;
    margin-left: 2.5%;
    border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
    width: 8rem;
    height: 2rem;
  }

  /*************footer Start*****************/

  .footer {
    background: #fbfbfd;
  }
  .footer_top {
    padding: 1rem 0rem 2rem;
    position: relative;
    overflow-x: hidden;
  }
  .footer_bottom {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #7f88a6;
    padding: 1.6875rem 0rem;
  }

  .footer_area {
    background: #fbfbfd;
  }

  .footer_top .f_subscribe_two .btn_get {
    border-width: 0.0625rem;
    margin-top: 1.25rem;
  }

  .btn:hover,
  .btn:focus,
  button:hover,
  button:focus {
    text-decoration: none;
    outline: none;
  }

  .footer_top .f_social_icon a {
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.6875rem;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  .f_social_icon a {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    font-size: 0.875rem;
    line-height: 2.8125rem;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-right: 2%;
  }

  .subscribe-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
    width: 8rem;
    height: 1.5rem;
  }

  .subscribe-btn:hover {
    background: #263b5e;
    color: #fff;
  }

  .footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
  }
  .footer_top .f_social_icon a + a {
    margin-left: 4px;
  }

  .footer_top .footer_bg {
    position: block;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png")
      no-repeat scroll center 0;
    width: 100%;
    height: 266px;
  }

  .footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif")
      no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
  }

  .footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif")
      no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
  }

  @-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  .footer_container {
    padding-left: 5%;
  }

  /*************footer End*****************/
}
