@import url("https://fonts.cdnfonts.com/css/k2d");

@media screen and (max-width: 48rem) {
  html {
    font-size: 1rem;
    background-color: #eeeeee;
    margin: 0;
  }

  body {
    margin: 0;
    font-family: "K2D", sans-serif;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6db784;
    margin: 0;
    padding: 0;
    font-size: 0.375rem;
    width: 100%;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    font-size: 1.25rem;
    text-align: center;
    align-items: center;
    padding-left: 0.75rem;
  }

  button {
    cursor: pointer;
    border: none;
  }

  #navigation {
    display: flex;
    flex-direction: row;
  }

  #navigation h2 {
    padding: 0;
    background: none;
    font-weight: bolder;
    margin: 1.25rem;
    color: black;
    font-size: 0.75rem;
    border: 1px solid black;
    padding: 5px;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
  }

  #navigation h2:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  .BookRoom h3 {
    margin: 1.25rem;
    margin-top: 2.5rem;
  }

  .BookRoom h4 {
    font-size: 0.75rem;
  }

  .BookRoom .steps {
    display: flex;
    flex-direction: row;
    margin: 1.25rem;
    gap: 1.25rem;
  }

  /* Steps */
  .BookRoom .Search::before {
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "1";
    color: white;
    text-align: center;
    font-size: 0.75rem;
  }

  .BookRoom .Book::before {
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "2";
    color: white;
    text-align: center;
    font-size: 0.75rem;
  }

  .BookRoom .Payment::before {
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "3";
    color: white;
    text-align: center;
    font-size: 0.75rem;
  }

  #SearchInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }

  #Filter {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  #GuestInput {
    display: flex;
    flex-direction: column;
  }

  #Filter span {
    border: 0.0625rem solid black;
    display: flex;
    align-items: center;
    padding-right: 2.5rem;
    height: 2.5rem;
  }

  #Filter span:last-child {
    padding-right: 3.125rem;
  }

  /* List of Rooms */

  #ChooseARoom {
    background-color: #6db784;
    padding: 0.625rem;
    margin-top: 0.625rem;
    text-align: center;
  }

  .Roomslist {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5rem;
  }

  #Room1,
  #Room2,
  #Room3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Roomslist .Description {
    border: 0.125rem solid gray;
    width: 24.6875rem;
    border-top: none;
    border-radius: 0rem 0rem 0.9375rem 0.9375rem;
  }

  .Roomslist .Description span:first-child {
    font-size: 1.125rem;
    font-weight: bolder;
  }

  .Roomslist .Description span {
    display: block;
    margin-top: 0.3125rem;
  }

  .Roomslist img {
    width: 25rem;
    height: 18.75rem;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
    margin-top: 1.25rem;
  }

  .Roomslist .Description .Price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
  }

  .Roomslist .Description .Price a {
    border: 0.625rem solid #6db784;
    width: 6.25rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
    background-color: #6db784;
    font-size: 1.25rem;
    text-align: center;
  }

  .footer {
    background: #fbfbfd;
  }
  .footer_top {
    padding: 1rem 0rem 2rem;
    position: relative;
    overflow-x: hidden;
  }
  .footer_bottom {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #7f88a6;
    padding: 1.6875rem 0rem;
  }

  .footer_area {
    background: #fbfbfd;
  }

  .footer_top .f_subscribe_two .btn_get {
    border-width: 0.0625rem;
    margin-top: 1.25rem;
  }

  .btn:hover,
  .btn:focus,
  button:hover,
  button:focus {
    text-decoration: none;
    outline: none;
  }

  .footer_top .f_social_icon a {
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.6875rem;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  .f_social_icon a {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    font-size: 0.875rem;
    line-height: 2.8125rem;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-right: 2%;
  }

  .subscribe-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
    width: 8rem;
    height: 1.5rem;
  }

  .subscribe-btn:hover {
    background: #263b5e;
    color: #fff;
  }

  .footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
  }
  .footer_top .f_social_icon a + a {
    margin-left: 4px;
  }

  .footer_top .footer_bg {
    position: block;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png")
      no-repeat scroll center 0;
    width: 100%;
    height: 266px;
  }

  .footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif")
      no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
  }

  .footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif")
      no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
  }

  @-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  .footer_container {
    padding-left: 5%;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 1rem;
    background-color: #eeeeee;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "K2D", sans-serif;
  }

  /*HEADER*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6db784;
    margin: 0;
    padding: 0;
    font-size: 0.375rem;
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    font-size: 1.25rem;
    padding-left: 2.5rem;
    text-align: center;
    align-items: center;
  }

  button {
    cursor: pointer;
    border: none;
  }

  #navigation h2 {
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    font-weight: bolder;
    margin: 1.25rem;
    color: black;
    font-size: 1rem;
  }

  #navigation h2:hover {
    text-decoration: underline;
    text-underline-offset: 0.4em;
  }

  /*NAVIGATION*/
  #navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 2.5rem;
    background-color: #6db784;
  }

  .BookRoom h3 {
    margin: 1.25rem;
    margin-top: 2.5rem;
  }
  .BookRoom .steps {
    display: flex;
    flex-direction: row;
    margin: 1.25rem;
    gap: 1.25rem;
  }

  /* Steps */

  .BookRoom .Search::before {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "1";
    color: white;
    text-align: center;
    font-size: 1rem;
  }

  .BookRoom .Book::before {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "2";
    color: white;
    text-align: center;
    font-size: 1rem;
  }

  .BookRoom .Payment::before {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: black;
    margin-right: 0.3125rem;
    content: "3";
    color: white;
    text-align: center;
    font-size: 1rem;
  }

  #SearchInfo,
  #Filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }

  #GuestInput {
    display: flex;
    flex-direction: column;
  }

  #GuestInput h5 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  #Filter span {
    border: 0.0625rem solid black;
    display: flex;
    align-items: center;
    padding-right: 5rem;
    width: 8rem;
    height: 3rem;
    margin-top: 2rem;
  }

  #Filter span:last-child {
    padding-right: 3.125rem;
    width: 10rem;
  }

  /* List of Rooms */

  #ChooseARoom {
    background-color: #6db784;
    padding: 0.625rem;
    margin-top: 0.625rem;
    text-align: center;
  }

  .Roomslist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
    margin-left: 7.5%;
    margin-top: 5%;
    padding-bottom: 5rem;
  }

  #Room1,
  #Room2,
  #Room3 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .RoomInfo {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    height: 70%;
  }

  .Roomslist img {
    border-radius: 0.9375rem 0rem 0rem 0.9375rem;
    max-width: 34.375vw;
    max-height: 21.875rem;
    width: 100%;
    height: 100%;
  }

  .Roomslist .Description {
    border: 0.3125rem solid #ffffff;
    border-radius: 0rem 1.5625rem 1.5625rem 0rem;
    border-left: none;
    width: 50%;
    padding: 2.5%;
    font-size: 1.25vw;
  }

  .Roomslist .Description span:first-child,
  .Roomslist .Description .Price strong {
    font-size: 2vw;
    font-weight: bold;
  }

  .Roomslist .Description span {
    margin-top: 0.625%;
    gap: 0rem;
  }

  .Roomslist .Description .Price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    padding-top: 2.5%;
    gap: 10%;
    height: 30%;
  }

  .Price span {
    font-size: 2.5vh;
    text-align: center;
  }

  .Price a {
    border: 0.625rem solid #6db784;
    width: 6.25rem;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
    background-color: #6db784;
    font-size: 1.25rem;
    text-align: center;
  }

  .Roomslist .Description .Price a:hover {
    border: 0.625rem solid gray;
    background-color: gray;
  }

  /*************footer Start*****************/

  .footer {
    background: #fbfbfd;
  }
  .footer_top {
    padding: 1rem 0rem 2rem;
    position: relative;
    overflow-x: hidden;
  }
  .footer_bottom {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #7f88a6;
    padding: 1.6875rem 0rem;
  }

  .footer_area {
    background: #fbfbfd;
  }

  .footer_top .f_subscribe_two .btn_get {
    border-width: 0.0625rem;
    margin-top: 1.25rem;
  }

  .btn:hover,
  .btn:focus,
  button:hover,
  button:focus {
    text-decoration: none;
    outline: none;
  }

  .footer_top .f_social_icon a {
    width: 2.75rem;
    height: 2.75rem;
    line-height: 2.6875rem;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  .f_social_icon a {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    font-size: 0.875rem;
    line-height: 2.8125rem;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-right: 2%;
  }

  .subscribe-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
    width: 8rem;
    height: 1.5rem;
  }

  .subscribe-btn:hover {
    background: #263b5e;
    color: #fff;
  }

  .footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
    color: white;
  }
  .footer_top .f_social_icon a + a {
    margin-left: 4px;
  }

  .footer_top .footer_bg {
    position: block;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png")
      no-repeat scroll center 0;
    width: 100%;
    height: 266px;
  }

  .footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif")
      no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
  }

  .footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif")
      no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
  }

  @-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  .footer_container {
    padding-left: 5%;
  }

  /*************footer End*****************/
}
